*{
    padding: 0;
    margin: 0;
}

/* navbar starts here */

.nav {
    height: 75px;
    background-color: rgb(20, 20, 110);
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    font-size: 30px;
    margin-right: 5px;
    color: white;
}

.nav p{
    margin-right:200px;
    margin-left: 8px;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav mark{
    background-color: rgb(255, 196, 0);
    color:rgb(20, 20, 110); 
}

.nav a{
    text-decoration: none;
    color: antiquewhite;
    margin-right: 25px;
    font-weight: bold;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav a:hover{
    color:yellow;
    border-bottom: 1.5px solid yellow;
}
/* navbar ends here  */

/*--------- index.html ---------*/
/* hero-section starts here  */
.hero{
    background-image: url("pic.jpg");
    background-size: cover;
    height: 620px;
    color: antiquewhite;
    text-align: center;
}

#p1{
    padding-top: 120px;
    font-size: 40px;
    font-family: cursive;
}

h1{
    font-size: 110px;
    color:white;
}

/* hero-section ends here  */


/* description-section starts here   */

.desc{
    background-color:antiquewhite;
    height: 800px;
    color: black;
    border-top: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.desc div{
    width: 95%;
    border-radius: 10px;
    padding: 10px;
}

.desc div p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
}

.desc div p:hover{
    background-color: rgb(240, 197, 116);
}

.desc div h3{
    font-family:cursive;
    color: rgb(20, 20, 110);
    display: inline;
}

.desc div h3:hover{
    border-bottom: 1.5px solid rgb(20, 20, 110);
}
/* description-section ends here   */
/* --------- index.html --------- */

/*--------- jaipur.html ---------*/
.jaipur{
    width: 190vh;
    scale: 90vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(pic.jpg);
    background-position: static;
    background-size: cover;
    height: 100vh;
}

body {
    color: aliceblue;
}

.jaipur {
    height: 900px;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.jaipur-des {
    max-width: 700px;
}

.jaipur-des h1{
    font-family: Georgia;
    font-size: 80px;
    font-weight: 900px;
    display: inline-block;
}

.jaipur div h1:hover {
    border-bottom: 1.5px solid rgb(240, 197, 116);
    color: rgb(240, 197, 116);
}

.jaipur-des p{
    font-size: 20px;
    text-align: justify;
}

.jaipur div p:hover {
    color: rgb(240, 197, 116);
}

.jaipur-des h3{
    font-family: Georgia;
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
}

.jaipur div h3:hover {
    border-bottom: 1.5px solid rgb(240, 197, 116);
    color: rgb(240, 197, 116);
}
/*--------- jaipur.html ---------*/

/*--------- jodhpur.html ---------*/
.jodhpur{
    width: 190vh;
    scale: 90vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(pic.jpg);
    background-position: static;
    background-size: cover;
    height: 100vh;
}

.jodhpur {
    height: 900px;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.jodhpur-des {
    max-width: 700px;
}

.jodhpur-des h1{
    font-family: Georgia;
    font-size: 80px;
    font-weight: 900px;
    display: inline-block;
}

.jodhpur div h1:hover {
    border-bottom: 1.5px solid rgb(240, 197, 116);
    color: rgb(240, 197, 116);
}

.jodhpur-des p{
    font-size: 20px;
    text-align: justify;
}

.jodhpur div p:hover {
    color: rgb(240, 197, 116);
}

.jodhpur-des h3{
    font-family: Georgia;
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
}

.jodhpur div h3:hover {
    border-bottom: 1.5px solid rgb(240, 197, 116);
    color: rgb(240, 197, 116);
}
/*--------- jodhpur.html ---------*/

/*--------- udaipur.html ---------*/
.udaipur{
    width: 190vh;
    scale: 50vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(pic.jpg);
    background-position: static;
    background-size: cover;
    height: 100vh;
}

.udaipur {
    height: 900px;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.udaipur-des {
    max-width: 700px;
}

.udaipur-des h1{
    font-family: Georgia;
    font-size: 80px;
    font-weight: 900px;
    display: inline-block;
}

.udaipur div h1:hover {
    border-bottom: 1.5px solid rgb(240, 197, 116);
    color: rgb(240, 197, 116);
}

.udaipur-des p{
    font-size: 20px;
    text-align: justify;
    
}

.udaipur div p:hover{
    color: rgb(240, 197, 116);
}

.udaipur-des h3{
    font-family: Georgia;
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
}

.udaipur div h3:hover {
    border-bottom: 1.5px solid rgb(240, 197, 116);
    color: rgb(240, 197, 116);
}
/*--------- udaipur.html ---------*/

/*--------- ajmer.html ---------*/
.ajmer{
    width: 190vh;
    scale: 90vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(pic.jpg);
    background-position: static;
    background-size: cover;
    height: 100vh;
}

.ajmer {
    height: 1000px;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.ajmer-des {
    max-width: 700px;
    block-size: auto;
}

.ajmer-des h1{
    font-family: Georgia;
    font-size: 80px;
    font-weight: 900px;
    display: inline-block;
}

.ajmer div h1:hover {
    border-bottom: 1.5px solid rgb(240, 197, 116);
    color: rgb(240, 197, 116);
}

.ajmer-des p{
    font-size: 20px;
    text-align: justify;
}

.ajmer-des p:hover{
    color: rgb(240, 197, 116);
}

.ajmer-des h3{
    font-family: Georgia;
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
}

.ajmer div h3:hover {
    border-bottom: 1.5px solid rgb(240, 197, 116);
    color: rgb(240, 197, 116);
}
/*--------- ajmer.html ---------*/

/* footer starts here  */
.footer {
    background-color: rgb(20, 20, 110);
    height: 180px;
    color: antiquewhite;
    border-top: 1.9px solid white;
    border-bottom: 10px solid white;
    position: relative;
}

.footer div{
    display: inline-block;
    font-size: 27px;
    position: absolute;
    top: 50px;
}

#div1{
    left: 90px;
}

#div2{
    left: 450px;
}

#div3{
    left: 850px;
}

#icon1{
    margin-bottom: 12px;
}

.icon{
    font-size: 50px;
    color: antiquewhite;
}

.icon:hover{
    color: yellow;
}
/* footer ends here  */

/* --------- Heritage.html --------- */

.hero #p3 {
    font-size: 80px;
    color:white;
}

ul {
    list-style: none;
    padding-top: 70px;
}

.outer ul li {
    display: inline;
    float: left;
}

.hero .outer a {
    text-decoration: none;
}

.hero .outer h3 {
    color: blanchedalmond;
}

.hero .inner {
    display: inline;
    float: left;
    margin: 40px;
    height: 150px;
    width: 250px;
    border-radius: 10%;
    transition-duration: 1s;
}

.hero .inner:hover {
    margin: 20px;
    height: 200px;
    width: 300px;
    float: left;
}

.hero .outer h3:hover {
    font-size: 30px;
    text-decoration: underline;
    transition-duration: 1s;
}

/* --------- Heritage.html --------- */
